<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tharminhtet.paragonflow">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Home"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--Finance-->
        <activity android:name=".FinanceActivity"
            android:label="Finance"
            android:parentActivityName=".MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity">
            </meta-data>
        </activity>
        <activity android:name=".viewByDayActivity"
            android:label="Daily Finance"
            android:parentActivityName=".FinanceActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity">
            </meta-data>
        </activity>
        <activity android:name=".ViewByMonthActivity"
            android:label="Monthly Finance"
            android:parentActivityName=".FinanceActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FinanceActivity">
            </meta-data>
        </activity>
        <!--End of Finance-->

        <!--Home (+) Button-->
        <activity android:name=".ManageFinanceActivity"
            android:label="Manage Finance"
            android:parentActivityName=".MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity">
            </meta-data>

        </activity>
        <!--End of Home (+) Button-->
        <activity android:name=".InputEditorActivity"
            android:label="Add Input"
            android:parentActivityName=".ManageFinanceActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ManageFinanceActivity">
            </meta-data>

        </activity>
        <provider
            android:name=".data.InputProvider"
            android:authorities="com.tharminhtet.paragonflow.data"
            android:exported="false" />
    </application>

</manifest>